# Lede Algorithms -- Assignment 1

In this assignment you will use a little algebra to figure out how to take the average of averages.

In [1]:
import pandas as pd

First, read in the titanic.csv data set.

In [3]:
df = pd.read_csv("titanic.csv")
df.head()

,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,gender
0,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,-135,male
3,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

Compute the average survival rate (mean of the `survived` column)

In [5]:
df.survived.mean()

0.341964965727342

Now compute the average survival rates of the male and female 1st, 2nd, and 3rd class passengers (six groups in total)

In [39]:
df_male = df[df.gender == 'male']
df1 = df_male.groupby('pclass').survived.mean()
df1

pclass
1st    0.329609
2nd    0.144509
3rd    0.116466
Name: survived, dtype: float64

In [40]:
df_female = df[df.gender == 'female']
df2 = df_female.groupby('pclass').survived.mean()
df2

pclass
1st    0.937063
2nd    0.878505
3rd    0.370892
Name: survived, dtype: float64

Compute the average of these six averages. Is it the same as the the overall average?

In [42]:
total_df = pd.concat([df1, df2], ignore_index=True)
total_df.mean()

0.46284051687683475

How would you compute the overall average from the average of averages? Start with the formulas

$$mean = \frac{\sum_{i=1}^N x_i}{N}$$

for the overall mean, where $x_i$ is data value $i$ and $N$ is the total number of values, and

$$mean_k = \frac{\sum_{i=1}^{N_k} xk_i}{N_k}$$

is the mean of group $k$, where $xk_i$ is value $i$ of group $k$ and $N_k$ is the number of values in group $k$, and

$$N = \sum_{i=1}^M N_k$$

relates the total number of values $N$ to the number of values in each of the $M$ groups.

Your task is to derive a formula that computes $mean$ using only $mean_k$, the $N_k$, and $N$. Note: this question is not asking you to write code! Rather, you must answer two questions:

- What is the correct formula?
- How can we derive this formula starting from the formulas above?

**Answer**

I think the average of the averages does not match the real average because it doesn't compare the groups considering their importance. So, to do that, I divided the total number of people of each group by the total number of passengers and multiplied the result by the mean of the respective group. 

That would be something like: $mean_k$ * $N_k$ / $N$

Then, if I add up these results I get the weighted average.

Now use this formula to calculate the overall mean. Does it match?

In [47]:
df_male[df_male.pclass=='1st'].shape

(179, 10)

In [44]:
0.329609*(179/1313)

0.04493527113480578

In [60]:
mean1 = df_male[df_male.pclass=='1st'].mean()*(179/1313)
mean1

survived    0.044935
age         5.616665
dtype: float64

In [50]:
df_male[df_male.pclass=='2nd'].shape

(173, 10)

In [52]:
0.144509*(173/1313)

0.019040408987052553

In [51]:
mean2 = df_male[df_male.pclass=='2nd'].mean()*(173/1313)
mean2

survived    0.019040
age         3.809262
dtype: float64

In [53]:
df_male[df_male.pclass=='3rd'].shape

(498, 10)

In [55]:
0.116466*(498/1313)

0.04417369992383854

In [54]:
mean3 = df_male[df_male.pclass=='3rd'].mean()*(498/1313)
mean3

survived    0.044174
age         9.606240
dtype: float64

In [56]:
df_female[df_female.pclass=='1st'].shape

(143, 10)

In [58]:
0.937063*(143/1313)

0.10205636633663366

In [59]:
mean4 = df_female[df_female.pclass=='1st'].mean()*(143/1313)
mean4

survived    0.102056
age         4.113812
dtype: float64

In [61]:
df_female[df_female.pclass=='2nd'].shape

(107, 10)

In [63]:
0.878505*(107/1313)

0.0715918012185834

In [62]:
mean5 = df_female[df_female.pclass=='2nd'].mean()*(107/1313)
mean5

survived    0.071592
age         2.231943
dtype: float64

In [64]:
df_female[df_female.pclass=='3rd'].shape

(213, 10)

In [66]:
0.370892*(213/1313)

0.06016755217060168

In [65]:
mean6 = df_female[df_female.pclass=='3rd'].mean()*(213/1313)
mean6

survived    0.060168
age         3.660474
dtype: float64

In [67]:
mean1+mean2+mean3+mean4+mean5+mean6

survived     0.341965
age         29.038396
dtype: float64

**They do match!**